interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getComponents><in0
      xsi:type="ns3:string">b1f3548685800f04b60a85a725a0747265c60de9</in0><in1 xsi:type="ns3:string">TP</in1></ns1:getComponents></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net:443/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getComponentsResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getComponentsReturn
        soapenc:arrayType="ns2:RemoteComponent[1]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getComponentsReturn
        href="#id0"/></getComponentsReturn></ns1:getComponentsResponse><multiRef id="id0"
        soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteComponent" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><id xsi:type="xsd:string">10000</id><name
        xsi:type="xsd:string">testing</name></multiRef></soapenv:Body></soapenv:Envelope>'}
    headers:
      content-type: [text/xml;charset=utf-8]
      x-arequestid: [1199x339x1]
      x-asen: [SEN-3295567]
      x-ausername: [anonymous]
    status: {code: 200, message: OK}
version: 1
