interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getPriorities><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getPriorities></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getPrioritiesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getPrioritiesReturn
        soapenc:arrayType="ns2:RemotePriority[5]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getPrioritiesReturn
        href="#id0"/><getPrioritiesReturn href="#id1"/><getPrioritiesReturn href="#id2"/><getPrioritiesReturn
        href="#id3"/><getPrioritiesReturn href="#id4"/></getPrioritiesReturn></ns1:getPrioritiesResponse><multiRef
        id="id0" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemotePriority" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><color xsi:type="xsd:string">#cc0000</color><description
        xsi:type="xsd:string">Blocks development and/or testing work, production could
        not run.</description><icon xsi:type="xsd:string">https://indydevs.atlassian.net/images/icons/priorities/blocker.png</icon><id
        xsi:type="xsd:string">1</id><name xsi:type="xsd:string">Blocker</name></multiRef><multiRef
        id="id4" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns4:RemotePriority" xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><color xsi:type="xsd:string">#003300</color><description
        xsi:type="xsd:string">Cosmetic problem like misspelt words or misaligned text.</description><icon
        xsi:type="xsd:s[...]
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getIssueTypes><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getIssueTypes></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getIssueTypesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getIssueTypesReturn
        soapenc:arrayType="ns2:RemoteIssueType[6]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getIssueTypesReturn
        href="#id0"/><getIssueTypesReturn href="#id1"/><getIssueTypesReturn href="#id2"/><getIssueTypesReturn
        href="#id3"/><getIssueTypesReturn href="#id4"/><getIssueTypesReturn href="#id5"/></getIssueTypesReturn></ns1:getIssueTypesResponse><multiRef
        id="id1" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteIssueType" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><description xsi:type="xsd:string">Created
        by JIRA Agile - do not edit or delete. Issue type for a big user story that
        needs to be broken down.</description><icon xsi:type="xsd:string">https://indydevs.atlassian.net/images/icons/ico_epic.png</icon><id
        xsi:type="xsd:string">10000</id><name xsi:type="xsd:string">Epic</name><subTask
        xsi:type="xsd:boolean">false</subTask></multiRef><multiRef id="id0" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns4:RemoteIssueType"
        xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><description
        xsi:type="xsd:string">A problem which impairs or prevents the functions of
        the product.</description><icon xsi:type="xsd:string">https://indydevs.atlassian.net/images/icons/issuetypes/bug.png</icon><id
        xsi:type="x[...]
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://soap.rpc.jira.atlassian.com"
      xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="http://www.w3.org/2001/XMLSchema"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns4="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns1:Body><ns0:createIssue><in0
      xsi:type="ns2:string">d53e2769899df4419004f060ab57485a93fe0e22</in0><in1 xsi:type="ns3:RemoteIssue"><description
      xsi:type="ns2:string"></description><priority xsi:type="ns2:string">4</priority><project
      xsi:type="ns2:string">TP</project><summary xsi:type="ns2:string">test-create-issue</summary><type
      xsi:type="ns2:string">1</type></in1></ns0:createIssue></ns1:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:createIssueResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><createIssueReturn
        href="#id0"/></ns1:createIssueResponse><multiRef id="id0" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns2:RemoteIssue"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"><affectsVersions
        soapenc:arrayType="ns2:RemoteVersion[0]" xsi:type="soapenc:Array"/><assignee
        xsi:type="xsd:string" xsi:nil="true"/><attachmentNames soapenc:arrayType="xsd:string[0]"
        xsi:type="soapenc:Array"/><components soapenc:arrayType="ns2:RemoteComponent[0]"
        xsi:type="soapenc:Array"/><created xsi:type="xsd:dateTime">2014-08-30T03:26:02.908Z</created><customFieldValues
        soapenc:arrayType="ns2:RemoteCustomFieldValue[3]" xsi:type="soapenc:Array"><customFieldValues
        href="#id1"/><customFieldValues href="#id2"/><customFieldValues href="#id3"/></customFieldValues><description
        xsi:type="xsd:string" xsi:nil="true"/><duedate xsi:type="xsd:dateTime" xsi:nil="true"/><environment
        xsi:type="xsd:string" xsi:nil="true"/><fixVersions soapenc:arrayType="ns2:RemoteVersion[0]"
        xsi:type="soapenc:Array"/><id xsi:type="xsd:string">10803</id><key xsi:type="xsd:string">TP-23</key><priority
        xsi:type="xsd:string">4</priority><project xsi:type="xsd:string">TP</project><reporter
        xsi:type="xsd:string">ali</reporter><resolution xsi:type="xsd:string" xsi:nil="true"/><status
        xsi:type="xsd:string">10002</status><summary xsi:type="xsd:string">test-create-issue</summary><type
        xsi:type="xsd:string">1</type><updated xsi:type="xsd:dateTime">2014-08-30T03:26:02.908Z</updated><votes
        xsi:type="xsd:long">0</votes></multiRef><multiRef id="id1" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns3:RemoteCustomFieldValue"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><customfieldId
        xsi:type="xsd:string">customfield_10100</customfieldId><key xsi:type="xsd:string"
        xsi:nil="true"/><values soapenc:arrayType="xsd:string[1]" xsi:type="soapenc:Array"><values
        xsi:type="xsd:string">0|1000iw:</values></values></multiRef><multiRef id="id2"
        soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns4:RemoteCustomFieldValue" xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><customfieldId xsi:type="xsd:string">customfield_10006</customfieldId><key
        xsi:type="xsd:string" xsi:nil="true"/><values soapenc:arrayType="xsd:string[1]"
        xsi:type="soapenc:Array"><values xsi:type="xsd:string">9223372036854775807</values></values></multiRef><multiRef
        id="id3" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns5:RemoteCustomFieldValue" xmlns:ns5="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><customfieldId xsi:type="xsd:string">customfield_10021</customfieldId><key
        xsi:type="xsd:string" xsi:nil="true"/><values soapenc:arrayType="xsd:string[1]"
        xsi:type="soapenc:Array"><values xsi:type="xsd:string" xsi:nil="true"/></values></multiRef></soapenv:Body></soapenv:Envelope>'}
    headers:
      content-type: [text/xml;charset=utf-8]
      x-arequestid: [1226x754x1]
      x-asen: [SEN-3295567]
      x-ausername: [anonymous]
    status: {code: 200, message: OK}
version: 1
