interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getSavedFilters><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getSavedFilters></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getSavedFiltersResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getSavedFiltersReturn
        soapenc:arrayType="ns2:RemoteFilter[2]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getSavedFiltersReturn
        href="#id0"/><getSavedFiltersReturn href="#id1"/></getSavedFiltersReturn></ns1:getSavedFiltersResponse><multiRef
        id="id1" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteFilter" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><author xsi:type="xsd:string">ali</author><description
        xsi:type="xsd:string" xsi:nil="true"/><id xsi:type="xsd:string">10100</id><name
        xsi:type="xsd:string">test filter</name><project xsi:type="xsd:string" xsi:nil="true"/><xml
        xsi:type="xsd:string" xsi:nil="true"/></multiRef><multiRef id="id0" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns4:RemoteFilter"
        xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><author
        xsi:type="xsd:string">ali</author><description xsi:type="xsd:string" xsi:nil="true"/><id
        xsi:type="xsd:string">10101</id><name xsi:type="xsd:string">blah</name><project
        xsi:type="xsd:string" xsi:nil="true"/><xml xsi:type="xsd:string" xsi:nil="true"/></multiRef></soapenv:Body></soapenv:Envelope>'}
    headers:
      content-type: [text/xml;charset=utf-8]
      x-arequestid: [1226x755x1]
      x-asen: [SEN-3295567]
      x-ausername: [anonymous]
    status: {code: 200, message: OK}
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getFavouriteFilters><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getFavouriteFilters></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getFavouriteFiltersResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getFavouriteFiltersReturn
        soapenc:arrayType="ns2:RemoteFilter[2]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getFavouriteFiltersReturn
        href="#id0"/><getFavouriteFiltersReturn href="#id1"/></getFavouriteFiltersReturn></ns1:getFavouriteFiltersResponse><multiRef
        id="id0" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteFilter" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><author xsi:type="xsd:string">ali</author><description
        xsi:type="xsd:string" xsi:nil="true"/><id xsi:type="xsd:string">10101</id><name
        xsi:type="xsd:string">blah</name><project xsi:type="xsd:string" xsi:nil="true"/><xml
        xsi:type="xsd:string" xsi:nil="true"/></multiRef><multiRef id="id1" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns4:RemoteFilter"
        xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><author
        xsi:type="xsd:string">ali</author><description xsi:type="xsd:string" xsi:nil="true"/><id
        xsi:type="xsd:string">10100</id><name xsi:type="xsd:string">test filter</name><project
        xsi:type="xsd:string" xsi:nil="true"/><xml xsi:type="xsd:string" xsi:nil="true"/></multiRef></soapenv:Body></soapenv:Envelope>'}
    headers:
      content-type: [text/xml;charset=utf-8]
      x-arequestid: [1226x756x1]
      x-asen: [SEN-3295567]
      x-ausername: [anonymous]
    status: {code: 200, message: OK}
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getIssuesFromFilter><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0><in1 xsi:type="ns3:string">10100</in1></ns1:getIssuesFromFilter></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?><soapenv:Envelope
        xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getIssuesFromFilterResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://soap.rpc.jira.atlassian.com\"><getIssuesFromFilterReturn
        soapenc:arrayType=\"ns2:RemoteIssue[23]\" xsi:type=\"soapenc:Array\" xmlns:ns2=\"http://beans.soap.rpc.jira.atlassian.com\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"><getIssuesFromFilterReturn
        href=\"#id0\"/><getIssuesFromFilterReturn href=\"#id1\"/><getIssuesFromFilterReturn
        href=\"#id2\"/><getIssuesFromFilterReturn href=\"#id3\"/><getIssuesFromFilterReturn
        href=\"#id4\"/><getIssuesFromFilterReturn href=\"#id5\"/><getIssuesFromFilterReturn
        href=\"#id6\"/><getIssuesFromFilterReturn href=\"#id7\"/><getIssuesFromFilterReturn
        href=\"#id8\"/><getIssuesFromFilterReturn href=\"#id9\"/><getIssuesFromFilterReturn
        href=\"#id10\"/><getIssuesFromFilterReturn href=\"#id11\"/><getIssuesFromFilterReturn
        href=\"#id12\"/><getIssuesFromFilterReturn href=\"#id13\"/><getIssuesFromFilterReturn
        href=\"#id14\"/><getIssuesFromFilterReturn href=\"#id15\"/><getIssuesFromFilterReturn
        href=\"#id16\"/><getIssuesFromFilterReturn href=\"#id17\"/><getIssuesFromFilterReturn
        href=\"#id18\"/><getIssuesFromFilterReturn href=\"#id19\"/><getIssuesFromFilterReturn
        href=\"#id20\"/><getIssuesFromFilterReturn href=\"#id21\"/><getIssuesFromFilterReturn
        href=\"#id22\"/></getIssuesFromFilterReturn></ns1:getIssuesFromFilterResponse><multiRef
        id=\"id20\" soapenc:root=\"0\" soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xsi:type=\"ns3:RemoteIssue\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:ns3=\"http://beans.soap.rpc.jira.atlassian.com\"><affectsVersions soapenc:arrayType=\"ns3:RemoteVersion[0]\"
        xsi:type=\"soapenc:Array\"/><assignee xsi:type=\"xsd:string\" xsi:nil=\"true\"/><attachmentNames
        soapenc:arrayType=\"xsd:string[0]\" xsi:type=\"soapenc:Array\"/><components
        soapenc:arrayType=\"ns3:RemoteComponent[0]\" xsi:type=\"soapenc:Array\"/><created
        xsi:type=\"xsd:dateTime\">2014-07-01T23:22:07.000Z</created><customFieldValues
        soapenc:arrayType=\"ns3:RemoteCustomFieldValue[3]\" xsi:type=\"soapenc:Array\"><customFieldValues
        href=\"#id23\"/><customFieldValues href=\"#id24\"/><customFieldValues href=\"#id25\"/></customFieldValues><description
        xsi:type=\"xsd:string\">Visitor Name: ali\nVisitor Email: ali@indydevs.org\nIP:
        116.87.115.226\nUser Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_0)
        AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36\nCountry:
        Singapore\nCity: Singapore\nURL: http://flask-limiter.readthedocs.org/en/latest/\n\n================================================================================\n\nhi\n</description><duedate
        xsi:type=\"xsd:dateTime\" xsi:nil=\"true\"/><environment xsi:type=\"xsd:string\"
        xsi:nil=\"true\"/><fixVersions soapenc:arrayType=\"ns3:RemoteVersion[0]\"
        xsi:type=\"soapenc:Array\"/><id xsi:type=\"xsd:string\">10200</id><key xsi:type=\"xsd:string\">TP-3</key><priority
        xsi:type=\"xsd:string\">3</priority><project xsi:type=\"xsd:string\">TP</project><reporter
        xsi:type=\"xsd:string\">ali</reporter><resolution xsi:type=\"xsd:string\"
        xsi:nil=\"true\"/><status xsi:type=\"xsd:string\">10002</status><summary xsi:type=\"xsd:string\">Zopim
        Livechat Offline Message from ali at 2014-07-01 11:22 PM UTC</summary><type
        xsi:type=\"xsd:string\">10001</type><updated xsi:type=\"xsd:dateTime\">2014-07-01T23:22:07.000Z</updated><votes
        xsi:type=\"xsd:long\">0</votes></multiRef><multiRef id=\"id17\" soapenc:root=\"0\"
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xsi:type=\"ns4:RemoteIssue\"
        xmlns:ns4=\"http://beans.soap.rpc.jira.atlassian.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"><affectsVersions
        soapenc:arrayType=\"ns4:RemoteVersion[0]\" xsi:type=\"soapenc:Array\"/><assignee
        xsi:type=\"xsd:string\" xsi:nil=\"true\"/><attachmentNames soapenc:arrayType=\"xsd:string[0]\"
        xsi:type=\"soapenc:Array\"/><components soapenc:arrayType=\"ns4:RemoteComponent[0]\"
        xsi:type=\"soapenc:Array\"/><created xsi:type=\"xsd:dateTime\">2014-07-08T02:48:25.000Z</created><customFieldValues
        soapenc:arrayType=\"ns4:RemoteCustomFieldValue[3]\" xsi:type=\"soapenc:Array\"><customFieldValues
        href=\"#id26\"/><customFieldValues href=\"#id27\"/><customFieldValues href=\"#id28\"/></customFieldValues><description
        xsi:type=\"xsd:string\">Visitor Name: Visitor 46661718\nVisitor Email: \nChat
        started on 2014-07-08 02:47 AM UTC\n\nIP: 202.166.82.108\nUser Agent: Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko)
        Chrome/35.0.1916.153 Safari/537.36\nCountry: Singapore\nCity: Singapore\nURL:
        http://flask-limiter.readthedocs.org/en/latest/\n\n================================================================================\n\n(02:47:26
        AM) *** Visitor 46661718 joined the chat ***\n(02:47:27 AM) Visitor 46661718:
        test\n(02:47:30 AM) *** Ali-Akber Saifee joined the chat ***\n(02:47:35 AM)
        Ali-Akber Saifee: hi\n(02:47:37 AM) Ali-Akber Saifee: ?\n(02:48:24 AM) ***
        Visitor 46661718 left the chat ***\n</description><duedate xsi:type=\"xsd:dateTime\"
        xsi:nil=\"true\"/><environment xsi:type=\"xsd:string\" xsi:nil=\"true\"/><fixVersions
        soapenc:arrayType=\"ns4:RemoteVersion[0]\" xsi:type=\"soapenc:Array\"/><id
        xsi:type=\"xsd:string\">10300</id><key xsi:type=\"xsd:string\">TP-6</key><priority
        xsi:type=\"xsd:string\">3</priority><project xsi:type=\"xsd:string\">TP</project><reporter
        xsi:type=\"xsd:string\">ali</reporter><resolution xsi:type=\"xsd:string\"
        xsi:nil=\"true\"/[...]
[...]
