interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getPriorities><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getPriorities></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net:443/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getPrioritiesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getPrioritiesReturn
        soapenc:arrayType="ns2:RemotePriority[5]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getPrioritiesReturn
        href="#id0"/><getPrioritiesReturn href="#id1"/><getPrioritiesReturn href="#id2"/><getPrioritiesReturn
        href="#id3"/><getPrioritiesReturn href="#id4"/></getPrioritiesReturn></ns1:getPrioritiesResponse><multiRef
        id="id3" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemotePriority" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><color xsi:type="xsd:string">#006600</color><description
        xsi:type="xsd:string">Minor loss of function, or other problem where easy
        workaround is present.</description><icon xsi:type="xsd:string">https://indydevs.atlassian.net/images/icons/priorities/minor.png</icon><id
        xsi:type="xsd:string">4</id><name xsi:type="xsd:string">Minor</name></multiRef><multiRef
        id="id2" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns4:RemotePriority" xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><color xsi:type="xsd:string">#009900</color><description
        xsi:type="xsd:string">Major loss of function.</description><icon xsi:type="xsd:string">https://indydevs.atlassian.net/image[...]
