interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getProjectsNoSchemes><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getProjectsNoSchemes></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net:443/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getProjectsNoSchemesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getProjectsNoSchemesReturn
        soapenc:arrayType="ns2:RemoteProject[5]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getProjectsNoSchemesReturn
        href="#id0"/><getProjectsNoSchemesReturn href="#id1"/><getProjectsNoSchemesReturn
        href="#id2"/><getProjectsNoSchemesReturn href="#id3"/><getProjectsNoSchemesReturn
        href="#id4"/></getProjectsNoSchemesReturn></ns1:getProjectsNoSchemesResponse><multiRef
        id="id3" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteProject" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><description xsi:type="xsd:string"></description><id
        xsi:type="xsd:string">10102</id><issueSecurityScheme xsi:type="ns3:RemoteScheme"
        xsi:nil="true"/><key xsi:type="xsd:string">SCR</key><lead xsi:type="xsd:string">ali</lead><name
        xsi:type="xsd:string">Scribe</name><notificationScheme xsi:type="ns3:RemoteScheme"
        xsi:nil="true"/><permissionScheme xsi:type="ns3:RemotePermissionScheme" xsi:nil="true"/><projectUrl
        xsi:type="xsd:string"></projectUrl><url xsi:type="xsd:string">https://indydevs.atlassian.net/browse/SCR</url></multiRef><multiRef
        id="id4" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns4:RemoteProject" xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><description xsi:type="xsd:string"></description><id
        xsi:type="xsd:string">10000</id><issueSecurityScheme xsi:type="ns4:RemoteScheme"
        xsi:[...]
