interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getResolutions><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0></ns1:getResolutions></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net:443/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getResolutionsResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getResolutionsReturn
        soapenc:arrayType="ns2:RemoteResolution[6]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getResolutionsReturn
        href="#id0"/><getResolutionsReturn href="#id1"/><getResolutionsReturn href="#id2"/><getResolutionsReturn
        href="#id3"/><getResolutionsReturn href="#id4"/><getResolutionsReturn href="#id5"/></getResolutionsReturn></ns1:getResolutionsResponse><multiRef
        id="id5" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteResolution" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><description xsi:type="xsd:string"></description><icon
        xsi:type="xsd:string" xsi:nil="true"/><id xsi:type="xsd:string">10000</id><name
        xsi:type="xsd:string">Done</name></multiRef><multiRef id="id3" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns4:RemoteResolution"
        xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><description
        xsi:type="xsd:string">The problem is not completely described.</description><icon
        xsi:type="xsd:string" xsi:nil="true"/><id xsi:type="xsd:string">4</id><name
        xsi:type="xsd:string">Incomplete</name></multiRef><multiRef id="id4" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns5:RemoteResolution"
        xmlns:ns5="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><description
        xsi:type="xsd:string">All attempts at reproducing this issue failed, or not
        enough information was available to reproduce the issue. Reading the code
        produces no clues as to why this behavior would occur. If more information
        appears later, please reopen the issue.</description><icon xsi:type="xsd:string"
        xsi:nil="true"/><id xsi:type="xsd:string">5</id><name xsi:type="xsd:string">Cannot
        Reproduce</name></multiRef><multiRef id="id0" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns6:RemoteResolution" xmlns:ns6="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><description xsi:type="xsd:string">A
        fix for this issue is checked into the tree and tested.</description><icon
        xsi:type="xsd:string" xsi:nil="true"/><id xsi:t[...]
