interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getStatuses><in0
      xsi:type="ns3:string">b1f3548685800f04b60a85a725a0747265c60de9</in0></ns1:getStatuses></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net:443/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getStatusesResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getStatusesReturn
        soapenc:arrayType="ns2:RemoteStatus[10]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getStatusesReturn
        href="#id0"/><getStatusesReturn href="#id1"/><getStatusesReturn href="#id2"/><getStatusesReturn
        href="#id3"/><getStatusesReturn href="#id4"/><getStatusesReturn href="#id5"/><getStatusesReturn
        href="#id6"/><getStatusesReturn href="#id7"/><getStatusesReturn href="#id8"/><getStatusesReturn
        href="#id9"/></getStatusesReturn></ns1:getStatusesResponse><multiRef id="id3"
        soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteStatus" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><description xsi:type="xsd:string">A
        resolution has been taken, and it is awaiting verification by reporter. From
        here issues are either reopened, or are closed.</description><icon xsi:type="xsd:string">https://indydevs.atlassian.net/images/icons/statuses/resolved.png</icon><id
        xsi:type="xsd:string">5</id><name xsi:type="xsd:string">Resolved</name></multiRef><multiRef
        id="id8" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns4:RemoteStatus" xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><description xsi:type="xsd:string"
        xsi:nil="true"/><icon xsi:type="xsd:string">https://indydevs.atlassian.net/images/icons/statuses/information.png</icon><id
        xsi:type="xsd[...]
