interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:ns3="http://www.w3.org/2001/XMLSchema"
      xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:ns1="http://soap.rpc.jira.atlassian.com" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Header/><ns2:Body><ns1:getAvailableActions><in0
      xsi:type="ns3:string">d53e2769899df4419004f060ab57485a93fe0e22</in0><in1 xsi:type="ns3:string">TP-9</in1></ns1:getAvailableActions></ns2:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml; charset=utf-8]
      Soapaction: ['""']
    method: POST
    uri: https://indydevs.atlassian.net/rpc/soap/jirasoapservice-v2
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getAvailableActionsResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://soap.rpc.jira.atlassian.com"><getAvailableActionsReturn
        soapenc:arrayType="ns2:RemoteNamedObject[3]" xsi:type="soapenc:Array" xmlns:ns2="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><getAvailableActionsReturn
        href="#id0"/><getAvailableActionsReturn href="#id1"/><getAvailableActionsReturn
        href="#id2"/></getAvailableActionsReturn></ns1:getAvailableActionsResponse><multiRef
        id="id0" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns3:RemoteNamedObject" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ns3="http://beans.soap.rpc.jira.atlassian.com"><id xsi:type="xsd:string">11</id><name
        xsi:type="xsd:string">Start Progress</name></multiRef><multiRef id="id2" soapenc:root="0"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xsi:type="ns4:RemoteNamedObject"
        xmlns:ns4="http://beans.soap.rpc.jira.atlassian.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><id
        xsi:type="xsd:string">131</id><name xsi:type="xsd:string">Start Review</name></multiRef><multiRef
        id="id1" soapenc:root="0" soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xsi:type="ns5:RemoteNamedObject" xmlns:ns5="http://beans.soap.rpc.jira.atlassian.com"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><id xsi:type="xsd:string">21</id><name
        xsi:type="xsd:string">Done</name></multiRef></soapenv:Body></soapenv:Envelope>'}
    headers:
      content-type: [text/xml;charset=utf-8]
      x-arequestid: [1226x769x1]
      x-asen: [SEN-3295567]
      x-ausername: [anonymous]
    status: {code: 200, message: OK}
version: 1
